services:
  frontend:
    image: frontend:latest
    ports:
      - "5000:80"
    networks:
      - backend_network  # backend network ko attach kar rahe hain

networks:
  backend_network:
    external: true
